<% provide( :title, 'Sign in') %>
<html>
	<head><title><%= yield(:title) %></title></head>
	<body>
		<%= form_for(:session, url: sessions_path) do |f| %>
			<%= f.label :login, "Логин" %>
			<%= f.text_field :login %>

			<%= f.label :password, "Пароль" %>
			<%= f.password_field :password %>

			<%= f.submit "Войти", class: "btn btn-large btn-primary" %>
		<% end %>
		<div>Если вам не известны ваши логин и/или пароль, звоните Ольге Востротиной по телефону 1055!</div>
	</body>
</html>