<center><h1>Мои заказы</h1></center>
<table class="table table-condensed">
	<thead>
		<th>№</th>
		<th>Название</th>
		<th>Стоимость</th>
		<th>Статус</th>
		<th>Менеджер</th>
	</thead>	
	<% @user.order_customers.each do |order| %>
	<tr>
		<td><%= link_to "#{order.id}", order %></td>
		<td><%= link_to "#{order.title}", order %></td>
		<td class="right"><%= number_to_currency(order.total, precision: 2) %></td>
		<td><%= order.status %></td>
		<td><%= order.manager.name %></td>
	</tr>
	<% end %>
</table>

<center><h1>Мои подразделения</h1></center>
<table class="table table-condensed">
	<thead>
		<th>№</th>
		<th>Название</th>
		<th>Обеспеченность активами</th>
	</thead>
	<%= render @user.subordinate_departments unless @user.subordinate_departments.empty? %>
</table>

<h1>Платежные заявки</h1>
<%= form_tag('/searchDC', method: 'get') do %>
	<%= label_tag(:dc, "Номер заявки:") %>
	<%= text_field_tag(:dc, nil, :autofocus => true) %>
	<%= submit_tag("Поиск", class: 'btn btn-large btn-primary') %>
<% end %>
