<% row = asset_stocktake_row %>
<%= div_for row do %>
<tr>
	<td><%= row.asset_id %></td>
	<td><%= row.title %></td>
	<td><%= row.status %></td>
	<td><%= row.article.title unless row.article.nil? %></td>
	<td><%= row.assetValue %></td>
	<td><%= row.expenseValue %></td>
	<% if (params[:act] != 'print') %>
	<td><%= link_to('Удалить', [row], {:method => :delete, :class => :delete, :remote => true} ) %></td>
	<% end %>
</tr>
<% end %>