<% row = asset_stocktake_row %>
<%= form_for row, remote: true do |f| %>
	<tr id="stocktake_row_<%= row.id %>">
			<td><%= row.asset_id %></td>
			<td> <%= row.title %> </td>
			<td><%= f.select(:status, AssetStatus.all.map {|st| st.id } ) %></td>	
			<td> <%= row.article.title unless row.article.nil? %> </td>	
			<td><%= row.connected_to %></td>
			<td><%= f.submit("Изменить", {class: 'btn btn-mini'}) %></td>			
	</tr>
<% end %>