<tr>
	<td><%= order_row.article.title unless order_row.article.nil? %></td>
	<td><%= order_row.expense_type.annotated_title unless order_row.expense_type.nil? %></td>
	<td><%= order_row.department.title unless order_row.department.nil? %></td>
	<td class="right"><nobr><%= order_row.quantity %> &times; <%= order_row.price %></nobr></td>
	<td><%= order_row.status %></td>
	<td><%= l order_row.accept.stamp.to_date, :format => :default unless order_row.accept.nil? %></td>
	<td><%= order_row.importance.annotated_title unless order_row.importance.nil? %></td>
	<td>
		<ul>
			<%= ("<li>" + link_to("CO-#{order_row.order_customer.id}", (order_row.order_customer)) + "</li>").html_safe unless order_row.order_customer.nil? %>
			<%= ("<li>" + link_to("SO-#{order_row.supply_order.id}", '#') + "</li>").html_safe unless order_row.supply_order.nil? %>
			<%= ("<li>" + link_to("#{order_row.payment_request.id}", (order_row.payment_request)) + "</li>").html_safe unless order_row.payment_request.nil? %>
		</ul>
	</td>
</tr>