<tr>
	<td><%= order_row.article.title %></td>
	<td><%= order_row.expense_type.annotated_title %></td>
	<td><%= order_row.department.title %></td>
	<td class="right"><nobr><%= order_row.quantity %> &times; <%= order_row.price %></nobr></td>
	<td><%= order_row.status %></td>
	<td><%= l order_row.accept.stamp.to_date, :format => :default unless order_row.accept.nil? %></td>
	<td><%= order_row.importance.annotated_title %></td>
	<td>
		<%= link_to "CO-#{order_row.order_customer.id}", (order_row.order_customer) unless order_row.order_customer.nil? %>
		<%= link_to "SO-#{order_row.supply_order.id}", '#' unless order_row.supply_order.nil? %>
		<%= link_to "#{order_row.payment_request.id}", (order_row.payment_request) unless order_row.payment_request.nil? %>
	</td>
</tr>