<h1>Платежная заявка <%= @paymentRequest.id %></h1>
<table class="table">
		<%= "<tr><td>#{@paymentRequest.title}</td></tr>".html_safe unless @paymentRequest.title.nil? %>
		<tr><td><%= @paymentRequest.contract.annotated_title %></td></tr>
		<%= "<tr class='success'><td>Оплачено #{@paymentRequest.paymentDate}</td></tr>".html_safe if @paymentRequest.paid %>
		<%= '<tr class="error"><td>Не оплачено</td></tr>'.html_safe if !@paymentRequest.paid %>
		<%= "<tr><td><strong>Примечание:</strong><br/><pre>#{@paymentRequest.memo}</pre></td></tr>".html_safe unless @paymentRequest.memo.nil? %>
</table>
<table class="table table-condensed table-bordered">
	<thead>
		<tr>
			<th>Номенклатура</th>
			<th>Статья</th>
			<th>Подразделение</th>
			<th>Стоимость</th>
			<th>Статус</th>
			<th><abbr title="Примерная дата прихода">Приход</abbr></th>
			<th>Важность</th>
			<th>Документы</th>
		</tr>
	</thead>
	<tbody>
		<%= render @paymentRequest.order_rows %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">ИТОГО:</td>
			<td class="right"><%= @paymentRequest.amount %></td>
			<td colspan="4">&nbsp;</td>
		</tr>
	</tfoot>
</table>