<h1>Заказ №<%= @order.id %></h1>
<table>
	<tr>
		<td>
			<dl>
				<dt>Название:</dt><dd><%= @order.title %></dd>
				<dt>Статус:</dt><dd><%= @order.status %></dd>
				<dt>Создан:</dt><dd><%= @order.openDate %></dd>
				<dt>Закрыт:</dt><dd><%= @order.closeDate %></dd>
			</dl>
		</td>
		<td valign="top">
			<dl>
				<dt>Инициатор:</dt><dd><%= @order.initiator.annotated_name %></dd>
				<dt>Менеджер:</dt><dd><%= @order.manager.annotated_name %></dd>
			</dl>
		</td>
	</tr>	
</table>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>Номенклатура</th>
			<th>Статья</th>
			<th>Подразделение</th>
			<th>Стоимость</th>
			<th>Статус</th>
			<th><abbr title="Примерная дата прихода">Приход</abbr></th>
			<th>Документы</th>
		</tr>
	</thead>
	<tbody>
	<%= render @order.order_rows %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"><strong>ИТОГО:</strong></td>
			<td colspan="3"><strong><%= number_to_currency(@order.total, locale: :ru) %></strong></td>
		</tr>
	</tfoot>
</table>
<ul>
	
</ul>