<h1>Заказ №<%= @order.id %></h1>
<table>
	<tr>
		<td>
			<dl>
				<dt>Название:</dt><dd><%= @order.title %></dd>
				<dt>Статус:</dt><dd><%= @order.status %></dd>
				<dt>Создан:</dt><dd><%= @order.openDate %></dd>
				<dt>Закрыт:</dt><dd><%= @order.closeDate %></dd>
			</dl>
		</td>
		<td valign="top">
			<dl>
				<dt>Менеджер:</dt><dd><%= @order.manager.name %></dd>
			</dl>
		</td>
	</tr>	
</table>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>Номенклатура</th>
			<th>Подразделение</th>
			<th>Стоимость</th>
			<th>Статус</th>
		</tr>
	</thead>
	<tbody>
	<% @order.order_rows.each do |row| %>
		<tr>
			<td><%= row.article.title %></td>
			<td><%= row.department.title %></td>
			<td class="right"><nobr><%= row.quantity %> &times; <%= row.price %></nobr></td>
			<td><%= row.status %></td>
		</tr>
	<% end %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2"><strong>ИТОГО:</strong></td>
			<td colspan="3"><strong><%= number_to_currency(@order.total, locale: :ru) %></strong></td>
		</tr>
	</tfoot>
</table>
<ul>
	
</ul>