<h1>Заказ №<%= @order.id %></h1>
<table>
	<% if !@order.title.nil? %>
	<tr>
		<td><strong>Название:</strong></td><td><%= @order.title %></td>
	</tr>
	<% end %>
	<tr>
		<td><strong>Инициатор:</strong></td><td><%= @order.initiator.annotated_name %></td>
	</tr>
	<tr>
		<td><strong>Менеджер ИТ:</strong></td><td><%= @order.manager.annotated_name %></td>
	</tr>
	<tr>
		<td><strong>Статус:</strong></td><td><%= @order.status %></td>
	</tr>
	<% if !@order.openDate.nil? %>
	<tr>
		<td><strong>Создан:</strong></td><td><%= l @order.openDate.to_date, format: :default %></td>
	</tr>
	<% end %>
	<% if @order.closed %>
	<tr>
		<td><strong>Закрыт:</strong></td><td><%= @order.closeDate %></td>
	</tr>
	<% end %>
	<% if !@order.demand.nil? %>
	<tr>
		<td colspan="2"><strong>Потребность:</strong><pre><%= @order.demand %></pre></td>
	</tr>
	<% end %>
</table>
<br/>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Номенклатура</th>
			<th>Статья</th>
			<th>Подразделение</th>
			<th>Стоимость</th>
			<th>Статус</th>
			<th><abbr title="Примерная дата прихода">Приход</abbr></th>
			<th>Важность</th>
			<th>Документы</th>
		</tr>
	</thead>
	<tbody>
	<%= render @order.order_rows %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"><strong>ИТОГО:</strong></td>
			<td colspan="3"><strong><%= number_to_currency(@order.total, locale: :ru) %></strong></td>
		</tr>
	</tfoot>
</table>
<ul>
	
</ul>