<table class="table-condensed">
<%= form_for @document do |f| %>
	<tr>
		<td><%= f.label :location_id, "Расположение" %></td>
		<td> <%= f.select(:location_id, Location.order('title').map {|loc| [loc.title, loc.id]} ) %> </td>
	</tr>
	<tr>
		<td><%= f.label :responsible, "Ответственный" %></td>
		<td><%= f.select(:responsible, Employee.order('name').map {|emp| [emp.name, emp.id]}) %></td>
	</tr>
	<tr>
		<td>Провёл</td>
		<td> <%= @document.approverEmployee.annotated_name unless @document.nil? || @document.approverEmployee.nil? %> </td>
	</tr>
	<tr>
		<td><%= f.label :memo, "Комментарий" %></td>
		<td><%= f.text_area :memo, rows: 4 %></td>
	</tr>
<% end %>
</table>
<table class="table table-condensed table-nohover" id="stocktake_rows">
	<thead>
		<th>Серийный №</th>
		<th>Название</th>
		<th>Статус</th>
		<th>Модель</th>
		<th>Действие</th>
	</thead>
	<tbody>
		<div id="stocktake_rows">
			<% @document.rows.each do |row| %>
				<%= form_for row, remote: true do |f| %>
					<tr id="stocktake_row_<%= row.id %>">
							<td><%= row.asset_id %></td>
							<td> <%= row.title %> </td>
							<td><%= f.select(:status, AssetStatus.all.map {|st| st.id } ) %></td>	
							<td> <%= row.article.title unless row.article.nil? %> </td>	
							<td><%= f.submit("Изменить", {class: 'btn btn-mini'}) %></td>			
					</tr>
				<% end %>
			<% end %>
		</div>
		<!-- Новая запись -->
		<%= form_for @document.rows.build do |f| %>
			<%= f.hidden_field(:doc_id) %>
			<tr>
						<td><%= f.text_field :asset_id %></td>
						<td> <%= f.text_field :title %> </td>
						<td><%= f.select(:status, AssetStatus.all.map {|st| st.id } ) %></td>	
						<td> -- </td>	
						<td><%= f.submit("Создать", {class: 'btn btn-mini'}) %></td>			
				</tr>
		<% end %>
	</tbody>
</table>
